<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>House Rental Application</title>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <style>
  
  </style>
</head>
<body>

<div class="container">
  <div class="row">
   

   
   
     

    
      <div class="col-md-3">
        <div class="card">
          <img src="https://i.pinimg.com/originals/93/c7/44/93c744bcde1780c94bb1d3f03991f8a7.gif" class="card-img-top" alt="Add House">
          <div class="card-body">
            <h5 class="card-title">View Houses </h5>
            <button class="btn btn-primary" routerLink="/viewhouse">Go</button>
            <!-- <a routerLink="/owneroperation">Operation</a> -->
  
          </div>
        </div>
      </div>

    

   
    
  </div>
</div>





</body>
</html>

